{% if site.data.data.awards %}
<section class="section awards-section" id="awards">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-award fa-stack-1x fa-inverse"></i>
        </span>
        {{site.data.data.awards.title}}
    </h2>
    <div class="awards-wrapper">
        {% for item in site.data.data.awards.list %}
        <div class="item row">
            <div class="col-xs-2 col-md-1 award-year">
                <span class="badge badge-theme">{{item.year}}</span>
            </div>
            <div class="col-xs-10 col-md-11 award-content">
                <h4 class="award-title">{{item.award}}</h4>
                <div class="award-body text-muted">{{item.body}}</div>
                {% if item.details %}
                <div class="award-details">{{item.details}}</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
