{% if site.data.data.awards %}
<section class="section awards-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-award fa-stack-1x fa-inverse"></i>
        </span>
        {{site.data.data.awards.title}}
    </h2>
    <div class="awards-wrapper">
        {% for item in site.data.data.awards.list %}
        <div class="item row">
            <div class="meta col-xs-12 col-md-3">
                <div class="upper-row">
                    <span class="year">{{item.year}}</span>
                </div>
                <div class="company">{{item.body}}</div>
            </div>
            <div class="details col-xs-12 col-md-9">
                <h3 class="position">{{item.award}}</h3>
                {% if item.details %}
                <div class="description">
                    <p>{{item.details}}</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
