{% if site.data.data.publications %}
<section class="section publications-section">
  <h2 class="section-title"><i class="fas fa-book"></i>{{ site.data.data.publications.title }}</h2>

  {% if site.data.data.publications.intro %}
  <div class="intro">{{ site.data.data.publications.intro | markdownify }}</div>
  {% endif %}

  <h3>Journal Papers</h3>
  {% for paper in site.data.data.publications.journal_papers %}
    <div class="item">
      <div class="publication-title"><a href="{{ paper.link }}">{{ paper.title }}</a></div>
      <div class="publication-authors">{{ paper.authors }}</div>
      <div class="publication-conference">{{ paper.journal }}, {{ paper.year }}</div>
    </div>
  {% endfor %}

  <h3>Books and Book Chapters</h3>
  {% for book in site.data.data.publications.books_and_chapters %}
    <div class="item">
      <div class="publication-title"><a href="{{ book.link }}">{{ book.title }}</a></div>
      <div class="publication-authors">{{ book.authors }}</div>
      <div class="publication-conference">{{ book.publisher }}, {{ book.year }} ({{ book.type }})</div>
    </div>
  {% endfor %}

  <h3>Conference Papers</h3>
  {% for paper in site.data.data.publications.conference_papers %}
    <div class="item">
      <div class="publication-title"><a href="{{ paper.link }}">{{ paper.title }}</a></div>
      <div class="publication-authors">{{ paper.authors }}</div>
      <div class="publication-conference">{{ paper.conference }}, {{ paper.year }}</div>
    </div>
  {% endfor %}

</section>
{% endif %}
