{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

{% if site.data.data.sidebar.academic_profiles %}
<div class="academic-profiles-container container-block">
  <h2 class="container-block-title">Academic Profiles</h2>
  <ul class="list-unstyled academic-profiles-list">
    {% for profile in site.data.data.sidebar.academic_profiles %}
      <li>
        <i class="{{ profile.icon }} academic-icon"></i>
        <a href="{{ profile.link }}" target="_blank">{{ profile.item }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}


  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
